/* .SortableListdiv {
	width: 152px;
	height: 145px;
	float: left;
	overflow: visible;
}

#filterButtons {
	width: 85px;
	float: left;
	height: 145px;
	padding-left: 16px;
	padding-right: 12px;
	margin-top: 25px;
}

.SortableListdiv {
	width: 152px;
	height: 145px;
	float: left;
	overflow: visible;
}

.FilterContainer_Add {
	background: url(../Images/add.gif) no-repeat;
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Add:hover {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Remove {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Remove:hover {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Moveup {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Moveup:hover {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Movedown {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.FilterContainer_Movedown:hover {
	width: 92px;
	height: 26px;
	margin-top: 5px;
	cursor: pointer
}

.KpisListItems ul {
	margin-top: 4px;
	margin-left: 0px !important;
	padding-left: 5px !important;
}

.KpisListItems li {
	list-style: none;
	width: 100%;
	margin-left: 0px !important;
	padding-left: 5px !important;
	font-size: 12px;
	padding-top: 2px !important;
}

.KpisListItems {
	background-color: #fff;
	border: 1px solid #dcdddf !important;
	width: 159px;
	height: 145px;
	margin-top: 4px;
	margin-left: 0px !important;
	padding-left: 2px !important;
	padding-top: 2px !important;
	float: left !important
} */