{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}PhenoProc{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tree.css') }}" />

{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Phenodoop Workflows</h1>
</div>
<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Data Sources</h3>
                </div>
                <div class="panel-body">
                    <ul id="tree1">

                        {%- for item in datasources.children recursive %}
                            <li>{{ item.name }}
                            {%- if item.children -%}
                                <ul>{{ loop(item.children) }}</ul>
                            {%- endif %}</li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Workflows</h3>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="">Operations</h3>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#tree1').treed();
        //$('#tree1').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});
        //$('#tree1').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});
    });
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}
