{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}PhenoProc{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tree.css') }}" />

{% endblock %}
{% block page_content %}
<div class="page-header">
    <h3>Workflows</h3>
</div>
<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="">Data Sources</h5>
                </div>
                <div class="panel-body">
                    <ul id="tree1">
                        {%- for item in datasources.children recursive %}
                        <li><input type="checkbox">{{ item.name }}
                            {%- if item.children -%}
                                <ul>{{ loop(item.children) }}</ul>
                            {%- endif %}</li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Workflows</h4>
                    <div class="input-group">
                    <div class="input-group-btn">
                    	<button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-stop"></i></button>
	                    <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-pause"></i></button>
                        <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-play"></i></button>
                        <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-edit"></i></button>
                    </div>
                </div>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="">Operations</h5>
                </div>
                <div class="panel-body">
                    <ul id="tree-operations">
                        {%- for item in operations.children recursive %}
                        <li><input type="checkbox">{{ item.name }}
                            {%- if item.children -%}
                                <ul>{{ loop(item.children) }}</ul>
                            {%- endif %}</li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="">Workflows</h5>
                </div>
                <div class="panel-body">
                    <div id="workflows">
                        {%- for item in workflows %}
                        <input type="radio">{{ item.name }}
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#tree1').treed();
        $('#tree-operations').treed();
    });
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}
