{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}PhenoProc{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tree.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style>
.btn-separator:after {
    content: ' ';
    display: block;
    float: right;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}
</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
<script type="text/javascript">
	{{ g.sijax.get_js()|safe }}
	
	function isBlank(str) {
	    return (!str || /^\s*$/.test(str) || str.length === 0);
	}
	
	function getParameterByName(name, url) {
	    if (!url) {
	      url = window.location.href;
	    }
	    name = name.replace(/[\[\]]/g, "\\$&");
	    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	        results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
	
	workflowId = getParameterByName('workflow');
	if (isBlank(workflowId)) {
		var pos = location.pathname.indexOf('workflow/');
		if (pos != -1) {
			workflowId = parseInt(location.pathname.substring(pos + 'workflow/'.length))
		}
	}
	
	if (isBlank(workflowId) || workflowId === NaN)
		workflowId = 0;
	
	var editMode = {% if config.WORKFLOW_MODE_EDIT %} true {% else %} false {% endif %};
	
</script>

{% endblock %}
{% block page_content %}
<div class="page-header">
    <h3>Workflows</h3>
</div>
<div class="container">
    <hr class="">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h5 class="panel-title pull-left" >Data Sources</h5>
                    <div class="btn-group">
                    <div class="btn-group-sm">
                        <button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Download"><i class="glyphicon glyphicon-download"></i></button>
                        <button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Upload"><i class="glyphicon glyphicon-upload"></i></button>
	                    <button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Delete"><i class="glyphicon glyphicon-minus"></i></button>
                    	<button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Add"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                	</div>
                </div>
                <div class="panel-body draggable-datasources">
                    <ul id="tree1">
                        {%- for item in datasources.children recursive %}
                        <li class="draggable-data ui-draggable" data-datasource="{{ item.datasource }}" data-path="{{ item.path }}">{{ item.name }}
                            {%- if item.children -%}
                                <ul>{{ loop(item.children) }}</ul>
                            {%- endif %}</li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Workflow: </h4>
                    <input type="text" class="pull-left" id="workflow-name" value="{{ workflow }}">
                    <div class="input-group">
                    <div class="input-group-btn">
                    	{% if config.WORKFLOW_MODE_EDIT %}
 		                    <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add Workitem" onclick="Sijax.request('add_workitem', [workflowId]); location.reload();"></i></button>
        					<span class="btn-separator"></span>
 		                    <button class="btn btn-primary pull-right"  data-toggle="tooltip" data-placement="top" title="Delete Workflow" onclick="Sijax.request('delete_workflow', [workflowId], {async: false});"><i class="glyphicon glyphicon-trash"></i></button>
 		                    <button class="btn btn-primary pull-right"  data-toggle="tooltip" data-placement="top" title="Reload Workflow"><i class="glyphicon glyphicon-refresh"></i></button>
 		                    <button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Add Workflow"><i class="glyphicon glyphicon-random" onclick="Sijax.request('add_workflow'); location.reload();"></i></button>
                   			<button class="btn btn-primary pull-right"  data-toggle="tooltip" data-placement="top" title="Run Mode" onclick="Sijax.request('set_editmode', [false]); location.reload();"><i class="glyphicon glyphicon-off"></i></button>	                        
                    	{% else %}
	                    	<button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Stop Execution"><i class="glyphicon glyphicon-stop"></i></button>
		                    <button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Pause Execution"><i class="glyphicon glyphicon-pause"></i></button>
	                        <button class="btn btn-primary pull-right"  data-toggle="tooltip" data-placement="top" title="Execute" onclick="Sijax.request('run_workflow', [workflowId]);"><i class="glyphicon glyphicon-play"></i></button>
	                        <button class="btn btn-primary pull-right"  data-toggle="tooltip" data-placement="top" title="Edit Mode" onclick="Sijax.request('set_editmode', [true]); location.reload();"><i class="glyphicon glyphicon-edit"></i></button>
	                    {% endif %}
                    </div>
                	</div>
                </div>
                <div class="panel-body">
                	<div id="workitems">
						{%- for item in workitems %}
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<h4 class="panel-title pull-left">Work Item: </h4>
								<input type="text" class="workitem-name pull-left" data-workitemid="{{item.id}}" value="{{item.name}}">
								{% if config.WORKFLOW_MODE_EDIT %}
									<div class="input-group">
	    				                <div class="input-group-btn">
	 		            		        	<button class="btn btn-primary pull-right"  data-toggle="tooltip" data-placement="top" title="Remove" onclick="Sijax.request('delete_workitem', [{{item.id}}]); location.reload();"><i class="glyphicon glyphicon-trash"></i></button>
	 		            		        </div>
 		            		        </div>
 		                    	{% endif %}
                			</div>
							<div class="panel-body">
								<div class="droppable-operation" data-workitem="{{item.id}}">
								<h5 style="text-align: center">Operation Source: <strong>{{item.opsname or ''}}</strong></h5>
									<h5 style="text-align: center">Operation: <strong>{{item.opname or ''}}</strong></h5>
								</div>
								<div style="float: left; width: 45%" class="droppable-input" data-workitem="{{item.id}}"><strong>Input</strong>
									<div style="text-align: left">Type: {{item.input_datasource or ''}}</div>
									<div style="text-align: left; word-wrap: break-word;">
										<textarea wrap="hard" class="input-path form-control" rows="1" data-workitem="{{item.id}}" data-datasourcetype="{{item.input_datasourceid or ''}}">{{item.input or ''}}</textarea>
									</div>
								</div>
								<div style="float: right; width: 45%" class="droppable-output" data-workitem="{{item.id}}">
									<strong>Output</strong>
									<div style="text-align: left">Type: {{item.output_datasource or ''}}</div>
									<div style="text-align: left;">
										<textarea wrap="hard" class="output-path form-control" rows="1" data-workitem="{{item.id}}" data-datasourcetype="{{item.output_datasourceid or ''}}">{{item.output or ''}}</textarea>
									</div>
								</div>
								<div style="float: clear;"></div>
							</div>
						</div>
						{%- endfor %}
					</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="">Operations</h5>
                </div>
                <div class="panel-body draggable-operations">
                    <ul id="tree-operations">
                        {%- for item in operations.children recursive %}
                        <li class="draggable-op" data-id="{{ item.name[1] }}">{{ item.name[0] }}
                            {%- if item.children -%}
                                <ul>{{ loop(item.children) }}</ul>
                            {%- endif %}</li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="">Workflows</h5>
                </div>
                <div class="panel-body">
                    <div class="radio">                    
                        {% for item in workflows %}
                        <input type="radio" data-id="{{ item.id }}" onclick="window.location.href='/workflow/{{ item.id }}'" name="workflows">{{ item.name }}
                           {% if item.status|int == 0 %}
                        	 <p>Unknown</p>
                        	{ % elif item.status|int == 1 %}
                        		<p>Created</p>
                        	{ % elif item.status|int == 2 %}
                        		<p>Running</p>
                        	{ % elif item.status|int == 3 %}
                        		<p>Completed</p>
                        	{ % elif item.status|int == 4 %}
                        		<p>Faulted</p>
                        	{ % else %}
                        		<p>Cancelled</p>
                        	{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script>
	$(window).load(function() {
// 		window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
// 		    alert("Error occured: " + errorMsg);//or any message
// 		    return false;
// 		}
		$(document).ready(function() {
			//$('[data-toggle="tooltip"]').tooltip();			
			$('#tree1').treed();
			$('#tree-operations').treed();
			$('input:radio[name=workflows]').each(function () {
				if ($(this).data('id') == workflowId)
					$(this).prop('checked', true);
        	});
			
			$("#workflow-name").prop('disabled', !editMode || workflowId <= 0);
			$(".workitem-name").each(function() {
				$(this).prop('disabled', !editMode || workflowId <= 0);
			});
			
			$(".input-path").each(function() {
				$(this).prop('disabled', !editMode || workflowId <= 0);
			});
			
			$(".output-path").each(function() {
				$(this).prop('disabled', !editMode || workflowId <= 0);
			});
			
			$("#workflow-name").change(function(){
				if (editMode) {
					Sijax.request('update_workflow', [workflowId, $(this).val()]);
					$(this).blur();
					location.reload();
				}
			});
			
			$(".workitem-name").change(function(){
				if (editMode) {
					Sijax.request('update_workitem', [$(this).data('workitemid'), $(this).val()]);
					$(this).blur();
					location.reload();
				}
			});
			
			$(".input-path").change(function(){
				if (editMode && $(this).val()) {
				    var datasourcetype = $(this).data('datasourcetype');
				    if (isBlank(datasourcetype)) {
				    	alert('Drag a base dir from the data sources first.');
				    	return;
				    }
			    	Sijax.request('add_input', [datasourcetype, $(this).val(), $(this).data('workitem')], {async: false});
				    location.reload();
				}
				return;
			});
			
			$(".output-path").change(function(){
				if (editMode && $(this).val()) {
				    var datasourcetype = $(this).data('datasourcetype');
				    if (isBlank(datasourcetype)) {
				    	alert('Drag a base dir from the data sources first.');
				    	return;
				    }
			    	Sijax.request('add_output', [datasourcetype, $(this).val(), $(this).data('workitem')], {async: false});
				    location.reload();
				}
				return;
			});
			
			if (editMode) {
				$('.draggable-datasources').each(function() {
					// inner scope
					var phrase = '';
					$(this).find('li').each(function() {
						// cache jquery object
						var current = $(this);
						current.addClass("draggable-data");
						current.draggable({
							revert : 'invalid',
							stack : '.draggable-data',
							helper : 'clone'
						});
	
					});
				});
	
				$('.draggable-operations').each(function() {
					// inner scope
					var phrase = '';
					$(this).find('li').each(function() {
						// cache jquery object
						var current = $(this);
						current.addClass("draggable-op");
						current.draggable({
							revert : 'invalid',
							stack : '.draggable-op',
							helper : 'clone'
						});
	
					});
				});
				
				$(".droppable-input, .droppable-output").droppable({
					accept : ".draggable-data",
					drop : function(event, ui) {
						if (editMode) {
						    var workItem = $(event.target).data('workitem');
						    var droppableClass = $(this).attr("class");
					    	Sijax.request(droppableClass.indexOf("droppable-input") != -1 ? 'add_input' : 'add_output', [ui.draggable.data('datasource'), ui.draggable.data('path'), workItem], {async: false});
						    location.reload();
						}
						return;
					}
				});
				
				$(".droppable-operation").droppable({
					accept : ".draggable-op",
					drop : function(event, ui) {
						if (editMode) {
					    	Sijax.request('add_operation', [ $(event.target).data('workitem'), ui.draggable.data("id")], {async: false});
					    	location.reload();
						}
						return;
					}
				});
			}
		});
	});
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}
